<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Netty-Websocket</title>
  <script src="../static/jquery-1.10.2.min.js" ></script>
    <script type="text/javascript">
        var socket;
        window.onload = function (ev) {
            if (!window.WebSocket) {
                window.WebSocket = window.MozWebSocket;
            }
            if (window.WebSocket) {
                var url = document.getElementById('uid').value;
                console.log(url)
                socket = new WebSocket("ws://127.0.0.1:9001/ws?uid=" + url + "&type=web");
                socket.onmessage = function (event) {
                    console.log("onmessage:" + event.data)
                    var flag=event.data.indexOf('用户')
                    console.log(flag)
                    if (flag==-1){
                        var ta = $('#responseText')[0];
                        ta.value += event.data + "\r\n";
                        console.log(1)
                    } else {
                        var ta = $('#onlineUsers')[0];
                        ta.value += event.data + "\r\n";
                        console.log(2)
                    }
                };
                socket.onopen = function (event) {
                    var ta = document.getElementById('responseText');
                    ta.value = "Netty-WebSocket服务器。。。。。。连接  \r\n"
                };
                socket.onclose = function (event) {
                    var ta = document.getElementById('responseText');
                    ta.value = "Netty-WebSocket服务器。。。。。。关闭 \r\n";
                };
            } else {
                alert("您的浏览器不支持WebSocket协议！");
            }
            $('#sendMsg')[0].onclick = function () {
                var msg = {
                    msg:$('#message')[0].value,
                    sendId:$('#sendUid')[0].value
                }
                send(JSON.stringify(msg))
            }
        }

        function send(message) {
            if (!window.WebSocket) {
                return;
            }
            if (socket.readyState == WebSocket.OPEN) {
                socket.send(message);
            } else {
                alert("WebSocket 连接没有建立成功！");
            }
        }
    </script>
</head>
<body>
<form onSubmit="return false;">
    <div style="padding: 20px 0;"> 用户ID <input id="uid" type="text" name="uid" th:value="${uid}" disabled/></div>
    <div style="width:100%;padding: 20px 0;overflow: hidden;border-bottom: 4px solid #ddd;">
        <div style="padding: 0 20px 0 0;float: left">发送ID <input id="sendUid" type="text" name="sendUid" /></div>
        <div style="padding: 0 20px 0 20px;float: left">发送内容 </label><input id="message"  name="message" value=""/></div>
        <input type="button" value="发送ws消息" id="sendMsg" style="padding: 5px 10px;float: left;background:linear-gradient(0deg, #f83b87 0%, #f83bb3 100%) "/>
    </div>

    <div style="width: 48%;height: 300px;float: left;">
        <h3>服务端返回的应答消息</h3>
        <textarea id="responseText" style="width: 100%;height: 300px;"></textarea>
    </div>
    <div style="width: 48%;height: 300px;float: right;">
        <h3>在线用户列表</h3>
        <textarea id="onlineUsers" style="width: 100%;height: 300px;"></textarea>
    </div>
</form>
</body>
</html>